extends layout

block content
   h1= title
   - let vechiles=results
   div(class="container-fluid mt-3")
   div(class="row")
    each vehicle,index in vechiles
      div(class="col-sm-4 "  onclick=`buy(${index})`) - #{vehicle._id} - #{vehicle.vechilename} - #{vehicle.model} - #{vehicle.classification} - #{vehicle.price}
   script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }